Grit_Flags.docx
.vscode/*
*.ini
*.gba
build/*
*/Images/*.h
*.sgm
*.dmp
*.bak
*.lnk
*.sav
*.sa1
*.sa2
*.sg1
*.ss1
*.ss2
*.ss3
*.png
*.gif
*.jpg
*.jpeg
grit/*
Multi Target Moves Plan.txt
generatedrepoints
*__pycache__
*.idea
tables.xlsx
cfru_thread.txt
src/Tables/criminon_trainer_spreads.c
src/start_menu_unbound.c
src/tier_bans.c
src/unbound_util.c
strings/unbound.string
Cover Art.png
calculos minis.txt

# generated temporary files
.fuse*
~$RU Documentation.docx
BPRE0.toml

# pycache files
*.pyc
.vs/CFRU-For-Blue-Legend/v15/.suo
*.sqlite
